body {
    background-color: black;
    color:lightgray;
    font-size: 28px;
    font-family: 'VT323', monospace;
    font-weight: 200;
}
#pojemnik {
    width:900px;
    margin-left: auto;
    margin-right: auto;
}
#plansza {
    width: 900px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 48px;
    min-height: 60px;
}
#szubienica {
    float:left;
    width:450px;
    text-align: center;
    min-width: 380px;
}
#alfabet {
    float: left;
    width:450px;
    text-align: center;
    min-width: 280px;
}

.litera {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin:5px;
    border: 3px solid gray;
    float:left;
    cursor: pointer;
    border-radius: 15px;

}
.litera:hover {
    background-color: #222222;
    color:white;
    border: 3px solid white;
}

.reset {
    color: green;
    cursor: pointer;
    font-size: 48px;
}

.reset:hover {
    color:white;
}
#tytul {
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(56, 54, 54);
    border: 5px solid whitesmoke;
    border-radius: 15px;
    float: left;
    width: 800px;
}
#time_left {
    float: right;
    margin-top: 60px;
    font-size: 30px;
    background-color: lightgrey;
    color: black;
    min-width: 70px;
    min-height: 40px;
    border: 3px solid white;
    border-radius: 15px;
    text-align: center;
}
#czas {
    margin-top: 5px;
}